.header {
  font-size: large;
  font-weight: bold;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 999;
  background: gray;
  min-height: 4rem;
}

.sideNav {
  font-weight: bold;
  position: fixed;
  /* left: -100vh; */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: darkgray;
  transition: 0.6s ease-in-out;
}

.sideNav>* {
  padding: 0.5rem 1rem;
  margin: 0.2rem 0.5rem;
  border-radius: 0.5rem;
}

.sideNav>*:hover {
  background: lightgray;
}