.header {
  font-size: large;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  width: 80%;
  display: flex;
  align-items: center;
  z-index: 999;
  background: transparent;
  color: white;
}

.header>* {
  padding: 0.5rem 1rem;
  margin: 0.2rem 0.5rem;
  border-radius: 0.5rem;
}

.header>*:hover {
  background: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

@media screen and (max-width: 650px) {
  .header {
    font-size: medium;
  }

  .header>* {
    padding: 0.1rem 0.2rem;
    margin: 0.2rem;
  }
}

@media screen and (max-width: 440px) {
  .header {
    font-size: small;
    /* width: 85%; */
    padding: 0.5rem;
  }

  .header>* {
    padding: 0.1rem;
    margin: 0.1rem;
  }
}