.carousel {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 1rem;
    padding: 0;
    overflow-x: hidden;
    border-radius: 1rem;
}

.carousel .imageContainer {
    display: flex;
    transition: transform 0.5s ease-in-out;
}


.carousel .imageContainer>* {
    transform: scaleY(1.01);
}

.carousel .slide {
    flex: 0 0 100%;
}

.carousel .slideActive {
    flex: 0 0 100%;
}

.carousel .buttonPrev,
.carousel .buttonNext {
    color: white;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
}

.carousel .buttonPrev {
    left: 0;
}

.carousel .buttonNext {
    right: 0;
}

@keyframes prevEnterFromSides {
    from {
        box-shadow: -150px 0 150px 0px rgba(0, 0, 0, 0), 100px 0px 100px -165px rgba(0, 0, 0, 0.0) inset;
    }

    to {
        box-shadow: -150px 0 200px 150px rgba(0, 0, 0, 0.8), 100px 0px 150px -95px rgba(0, 0, 0, 0.78) inset;
    }
}

@keyframes nextEnterFromSides {
    from {
        box-shadow: 150px 0 150px 0px rgba(0, 0, 0, 0), -100px 0px 100px -210px rgba(0, 0, 0, 0.0) inset;
    }

    to {
        box-shadow: 150px 0 200px 150px rgba(0, 0, 0, 0.8), -100px 0px 150px -90px rgba(0, 0, 0, 0.72) inset;
    }
}

.carousel .buttonPrev:hover {
    animation: prevEnterFromSides 0.6s forwards;
}

.carousel .buttonNext:hover {
    animation: nextEnterFromSides 0.6s forwards;
}

.carousel .buttonPrev>*,
.carousel .buttonNext>* {
    transform: scale(1.5);
}

.carousel .buttonPrev>*:hover {
    animation: grow 0.6s forwards;
}

.carousel .buttonNext>*:hover {
    animation: grow 0.6s forwards;
}

@keyframes grow {
    from {
        transform: scale(1.5);
    }

    to {
        transform: scale(2);
    }
}

@media screen and (max-width: 550px) {
    .carousel {
        transform: scale(0.9);
    }
}

@media screen and (max-width: 490px) {
    .carousel {
        transform: scale(0.8);
    }
}

@media screen and (max-width: 440px) {
    .carousel {
        transform: scale(0.7);
    }
}

@media screen and (max-width: 380px) {
    .carousel {
        transform: scale(0.6);
    }
}