.header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  height: 4rem;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  user-select: none;
}

.openMenu>*,
.headerButton {
  font-family: Assistant, Helvetica, Arial, sans-serif;
  font-size: large;
  background-color: transparent;
  border: 0px solid transparent;
  transition-duration: 0.4s;
  margin: 0 0.2rem;
  padding: 0.5rem 0.7rem;
  border-radius: 5px;
}

.isHomePage>.headerButton:hover,
.openMenu>*:hover,
.headerButton:hover {
  background-color: rgba(60, 60, 60, 0.15);
  cursor: pointer;
  user-select: none;
}

.isHomePage>.openMenu>*,
.isHomePage>.headerButton {
  margin: 0;
  font-weight: 600;
  color: white;
  border-bottom: 4px solid transparent;
  border-radius: 0;
  transition-delay: 0.2s;
}

.isHomePage>.openMenu>*:hover,
.isHomePage>.headerButton:hover {
  background-color: transparent;
  border-bottom: 4px solid whitesmoke;
  transition-delay: 0s !important;
  /* display: inline-block; */
}

.openMenu>* {
  color: black;
  transition-duration: 0.4s;
}

.showBackground .headerButton {
  color: black;
  border-bottom: 4px solid transparent;
}

.showBackground .headerButton:hover {
  background-color: rgba(60, 60, 60, 0.15);
  border-radius: 5px;
  border-bottom: 4px solid transparent;
}

.headerButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.showBackground {
  background-color: whitesmoke;
  transition-duration: 0.4s;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.openMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  top: 3.5rem;
  border-radius: 5px;
  padding: 0.5rem;
  background-color: whitesmoke;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.openMenu>* {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 0.1rem;
}

.withBorder {
  flex-direction: row-reverse;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 300px;
  /* min-width: 200px; */
  /* left: 0; */
}

.withBorder>* {
  /* adds borders to open menu buttons */
  width: inherit;
  border: 1px solid lightgray;
  flex-grow: 1;
}

@media screen and (max-width: 660px) {

  .openMenu>*,
  .headerButton {
    font-size: medium;
    padding: 0.3rem 0.3rem;
  }

  .withBorder {
    max-width: 250px;
    left: 0.5rem;
  }
}

@media screen and (max-width: 450px) {
  .logo {
    display: none;
  }
}

@media screen and (max-width: 380px) {

  .openMenu>*,
  .headerButton {
    font-size: small;
  }
}


/* ================ user details ================ */
.userDetails {
  display: flex;
  flex-direction: row-reverse;
  position: fixed;
  color: whitesmoke;
  direction: rtl;
  font-weight: 500;
  bottom: 2rem;
  left: 0rem;
  padding: 1rem;
  border-radius: 0 1rem 1rem 0;
  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
}

.userDetails button {
  width: 100%;
  background: transparent;
  color: whitesmoke;
  border: 1px solid whitesmoke;
  margin-top: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
  user-select: none;
  border-radius: 0.5rem;
  text-align: center;
}

.userDetails button:hover {
  background: rgba(255, 255, 255, 0.25);
  transform: scale(1.05);
  transition: 0.4s;
  color: white;
}

.userDetails .disabledButton {
  background: rgba(255, 255, 255, 0.25);
  cursor: not-allowed;
  user-select: none;
  color: darkgray;
}

.userDetails .disabledButton:hover {
  background: rgba(255, 127, 127, 0.25);
  transform: scale(1);
  color: rgb(233, 191, 191);
  border: 1px solid rgb(233, 191, 191);
  color: #495463;
}

.userDetails {
  animation: enter 1s;
}

@keyframes enter {
  0% {
    transform: translateX(-4rem);
  }

  100% {
    transform: translateX(0);
  }
}

.userDetails .details {
  visibility: hidden;
  width: 0;
  height: 6.5rem;
}

.userDetails:hover .details {
  visibility: visible;
  width: fit-content;
  animation: enter2 0.6s ease-in-out;
}

@keyframes enter2 {
  0% {
    width: 0;
    opacity: 0;
  }

  45% {
    width: 8rem;
  }

  50% {
    width: fit-content;
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}