.header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  height: 4rem;
  width: 100%;
  position: fixed;
  top: 0;
}

.openMenu>*,
.headerButton {
  font-family: Assistant, Helvetica, Arial, sans-serif;
  font-size: large;
  background-color: transparent;
  border: 0px solid transparent;
  transition-duration: 0.4s;
  margin: 0 0.2rem;
  padding: 0.5rem 0.7rem;
  border-radius: 5px;
}

.openMenu>*:hover,
.headerButton:hover {
  background-color: rgba(60, 60, 60, 0.15);
  cursor: pointer;
}

.isHomePage>.openMenu>*,
.isHomePage>.headerButton {
  margin: 0;
  font-weight: 600;
  color: white;
  border-bottom: 4px solid transparent;
  border-radius: 0;
  transition-delay: 0.2s;
}

.isHomePage>.openMenu>*:hover,
.isHomePage>.headerButton:hover {
  background-color: transparent;
  border-bottom: 4px solid white;
  transition-delay: 0s !important;
}


.openMenu>* {
  color: black;
  transition-duration: 0.4s;
}

.showBackground .headerButton {
  color: black;
}

.headerButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.showBackground {
  background-color: whitesmoke;
  transition-duration: 0.4s;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.openMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  top: 3.5rem;
  border-radius: 5px;
  padding: 0.5rem;
  background-color: whitesmoke;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.openMenu>* {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 0.1rem;
}

.withBorder {
  flex-direction: row-reverse;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 300px;
}

.withBorder>* {
  /* adds borders to open menu buttons */
  width: inherit;
  border: 1px solid lightgray;
  flex-grow: 1;
}

@media screen and (max-width: 650px) {
  .openMenu>* {
    font-size: small;
    margin: 0 0.02rem;
    padding: 0.2rem 0.3rem;
  }
}

@media screen and (max-width: 400px) {
  .logo {
    display: none;
  }
}