@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@700&display=swap');

.wrapper {
    min-width: 100%;
    background: #fbf0fc;
    overflow: hidden;
}

/* === SVG === */
.svg {
    background: transparent;
    min-width: 100%;
}

.svg .s5,
.svg .s2 {
    transform-origin: 50% 50%;
    transform-box: fill-box;
}

.svg .cloud2 {
    transform: scale(-1, 1);
    transform-origin: 50% 50%;
}

.className {
    transform: translate(0rem, -2.5rem) scale(1.5);
    font-size: 1.5rem;
    font-weight: bold;
    fill: #f9952d;
    font-family: 'Fredoka', system-ui;
}

.sun {
    transform: translate(-1rem, 8rem) scale(0.6);
}

.clouds {
    transform: translateX(100%) scaleX(-1);
}

.sky {
    background: radial-gradient(ellipse at 30% 30%, rgba(144, 221, 236, 1) 0%, rgba(89, 177, 213, 1) 50%);
    margin-bottom: -1rem !important;
}